<script src="javascripts/request.js"></script>
<div class="title">
    <div class="t"><h1><%= title %></h1></div>
</div>
<div class="descript">
    <p>Description is here</p>
</div>

<div class="content">
    <div class="box">
        <h3>Example Command: pwd </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c1'>
        </form>
        <textarea placeholder='result'  name="description " id="t1" cols="30" rows="10"><%= data%></textarea>
        <p><button id="req" onclick="download(document,'t1')">DOWNLOAD</button></p>
    </div>
    <div class="box">
        <h3> --- </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c2'>
        </form>
        <textarea placeholder="result" name="description " id="t2" cols="30" rows="10"></textarea>
        <p><button id="req" onclick="download(document,'t2')">DOWNLOAD</button></p>
    </div>
    <div class="box">
        <h3> --- </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c3'>
        </form>
        <textarea placeholder="result" name="description " id="t3" cols="30" rows="10"></textarea>
        <p><button id="req" onclick="download(document,'t3')">DOWNLOAD</button></p>
    </div>
</div>

 
