<div class="title">
    <div class="t"><h1><%= title %></h1></div>
</div>
<div class="descript">
    <p>Description is here</p>
</div>

<div class="content">
    <div class="box">
        <h3>Ex) cmd1: "ls -al |grep app" </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c1'>
        </form>
        <form id='target' action='cmd/download'>
            <textarea placeholder='result'  name="description" class="t1" cols="30" rows="10"><%=data1%></textarea>
            <input type='submit' name="cmd" value="DOWNLOAD">
        </form>
    </div>
    <div class="box">
        <h3> Ex) cmd2: "pwd" </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c2'>
        </form>
        <form id='target' action='cmd/download'>
            <textarea placeholder='result'  name="description" class="t1" cols="30" rows="10"><%=data2%></textarea>
            <input type='submit' name="cmd" value="DOWNLOAD">
        </form>
    </div>
    <div class="box">
        <h3> --- </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c3'>
        </form>
        <form id='target' action='cmd/download'>
            <textarea placeholder='result'  name="description" class="t1" cols="30" rows="10"><%=data3%></textarea>
            <input type='submit' name="cmd" value="DOWNLOAD">
        </form>
    </div>
</div>

 
